<div class = "container">
<div class="col-md-6 col-md-offset-4"></div>
<div class="transitions-enabled" id="pics"></div>
<% @pics.each do |pic|  %>
<div class="box panel panel-default"></div>

<div class="col-md-4 col-md-offset-4">
<%= link_to (image_tag pic.image.url(:medium), :align=> "middle"),pic %>

<h2><%= link_to pic.title, pic %></h2>
</div>
<%end%>
</div>
