<div class="col-md-8 col-md-offset-2"></div>
<div class="row"></div>
<div class="panel panel-default"></div>
<div class="panel-heading"></div>

<h1> Post Picture </h2>
<div class="panel-body"></div>
  <%= render 'form' %>
